body{
	color:#595959;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:12px;
	z-index: 400;
	background-color:transparent;
}

ul.dropmenu {
	float: left;
	margin: 0px; 
	padding: 0px;
	background:url("navigation.png") repeat-x scroll 0 0 transparent;
	display:block;
	height:35px;
	z-index: 400;
}

.dropmenu li a, .dropmenu li{
	float: left;
		z-index: 400;
}
.dropmenu li a:hover, .dropmenu li.open > a{
	color: #0657AD;
	background: #FFFFFF url("gradient.png") repeat-x scroll 0 0;
	z-index: 400;
}

.dropmenu li{
	list-style: none;
	position: relative;	
	top: 1px;
	z-index: 400;
}

.dropmenu li span{
	display: block;
	height: 10px;
	width: 10px;
	position: absolute;
	top: 12px;
	right: 10px;
	background:url("arrow_up.png") repeat-x scroll 0 0 transparent;
		z-index: 400;
}
.dropmenu li a:hover span, .dropmenu li.open > a span{
	background-image: url("arrow_hover.png");
		z-index: 400;	
}

.dropmenu li a, .dropmenu li div{
	padding: 9px 30px 8px 15px;
	text-decoration: none;
	color: #FFF;
	border-right:1px solid #4A779D;
	text-transform:uppercase;
		z-index: 400;
}

/* Submenu */
.dropmenu li > ul, .dropmenu li > div {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	padding: 0px;
	margin: 0px;
	background:url("gradient.png") repeat-x scroll 0 0 #FFFFFF;
	border-bottom:1px solid #CCCCCC;
	z-index: 400;
}

.dropmenu li:hover > ul, .dropmenu li:hover > div{
	display: block;
	z-index: 400;	
}

.dropmenu li ul li, .dropmenu li ul li a{
	float: none;	
	color: #0657AD;
	text-transform: none;
	text-decoration: underline;
	z-index: 400;
}

.dropmenu li ul li{
	_display: inline;	
}

.dropmenu li > div{
	width: 200px;
		z-index: 400;
}

.dropmenu li ul li a span{
	background:url("arrow_sub.gif") repeat-x scroll 0 0 transparent;
		z-index: 400;	
}

/* Sub submenu */

.dropmenu li ul li a{
	width: 150px;
	display: block;	
	border:1px solid #CCCCCC;
	border-top: none;
		z-index: 400;
}

.dropmenu li ul li a:hover{
	color:#F67A00;
	background: #F0F0F0;
		z-index: 400;
}

.dropmenu li ul li ul, .dropmenu li ul li > div{
	top: 0px;
	left: 101%;
	z-index: 400;
}



div.visible 
{
position:absolute;
top:20px;
left:20px;
height:50px;
overflow:visible;
}

div.bottom 
{
position:absolute;
top:60px;
left:20px;
width:100%;
}